*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  font-family: 'gilroy';
}

html,body{
height:100%;
width:100%;
}
.forever h1{
  text-wrap: nowrap;
  -webkit-text-stroke: 1px #FFC500;
  color: transparent;
}
.photos{
flex-wrap: nowrap;
}

body{
 background-color: black;
}

.cursor{
  background-color: #ffc40000;
  box-shadow: 0px 0px 15px 15px #ffc400;
}